################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SeleniumDemo/obj
/.vs/SeleniumDemo/v15
/SeleniumDemo/bin
/.vs/SeleniumDemo/DesignTimeBuild/.dtbcache
